{% extends "main_template.html" %}
{% block content %}
  <header>
    <ul id="header-nav">
      <li>
        <a href="{{ url_for('index') }}" id="head-main">
            <h1>Breast Carcinoma Classifier</h1>
            <p>for improved cancer prognosis</p>
        </a>
      </li>
      <li>
        <ul id="nav">
            {% if not session.logged_in %}
            <li><a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <li><a href="{{ url_for('test_api') }}">Test</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
      </li>
      <li id="more-wrapper">
        <b><a href="#">&#xF0C9;</a></b>
        <ul id="more-nav">
          <li>
            <ul class="subfilter"></ul>
          </li>
        </ul>
      </li>
    </ul>
  </header>
  <div id="flash-msg">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash{{ ' '+category }}"><a class="flash-message-closer" href="#" onclick="$(this).hide(400).parents('.flash').slideUp(400,function(){$(this).remove();});">&#xF05C;</a>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  {% block body %}
    <div id="content">
    </div>
  {% endblock %}
{% endblock %}