{% extends "index.html" %}
{% block body %}
  <div id="content">
    <div id="form-outer-wrapper">
      <div id="form-inner-wrapper">
        <h2>Test API</h2>
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        <form id="api-test-form" action="{{ url_for('test_api') }}" method=get>
            <dl>
              <dt>URL:
              <dd><input type=text name=url>
              <dd><input type=submit value=Proceed>
            </dl>
        </form>
        <div id="result"></div>
      </div>
    </div>
  </div>
  <footer>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('form#api-test-form').submit(function(event) {
          $.post("http://{{ IP }}:88/api/infer",
                  JSON.stringify({image: $('form#api-test-form').find('input').eq(0).val()}),
                  function(data){
                    var obj = data["data"];
                    res = $('<div\>').append($('<ul\>'));
                    for (var key in obj){
                      res.find('ul').append($('<li\>').append($('<div\>').append($('<h4\>').append(key+': ')).html()+obj[key]));
                    }
                    $('#result').html(res.html());
                  }
          );
          return false;
        });
      });
    </script>
  </footer>
{% endblock %}